 ### web scraping up to  17 pages from Sneakers online shop

In [1]:
import pandas as pd
import requests 
from bs4 import BeautifulSoup

In [2]:
baseurl = 'https://www.noirfonce.eu/'

In [3]:
productlinks =[]

In [4]:
for x in range ( 1 , 18 ) :
    r = requests.get(f'https://www.noirfonce.eu/collections/men?page={x}')
    soup = BeautifulSoup(r.content , 'lxml' ) 
    productlist = soup.find_all('div' , class_='grid-product__content')
    for item in productlist : 
        for link in item.find_all('a' , href=True):
            productlinks.append( baseurl + link['href'])
            
len(productlinks)

745

In [13]:
r = requests.get('https://www.noirfonce.eu/collections/men/products/new-balance-20002r-m2002rwm')
soup = BeautifulSoup(r.content ,'lxml')
name = soup.find('h1' , class_='h2 product-single__title').text.strip()
price = soup.find('span' , class_='money').text
price = price.replace('€','')
print(price ,'         ' ,  name )

150.00           New Balance 20002R

In [17]:
products = [] 
for link in  productlinks : 
    r = requests.get(link )
    soup = BeautifulSoup(r.content ,'lxml')
    name = soup.find('h1' , class_='h2 product-single__title').text.strip()
    price = soup.find('span' , class_='money').text
    price = price.replace('€','')
    products.append({'name': name , 'price in  €' : price })

In [18]:
df = pd.DataFrame(products)
df

                                        name price in  €
0    Saucony Endorphin Speed 3 Northern Soul      170.00
1                   Le Coq Sportif LCS T1000      110.00
2                       Nike Air Force 1 '07      150.00
3                            New Balance 550      160.00
4                            New Balance 550      160.00
..                                       ...         ...
740              Nike Air Force 1 Mid '07 LX      140.00
741                         Nike ACG Lowcate      120.00
742              Nike Blazer Mid '77 Vintage      110.00
743                Nike Air More Uptempo '96      180.00
744                            Adidas Oznova      130.00

[745 rows x 2 columns]

In [19]:
df.to_csv('Sneakers_name_and_price1.csv' , index=False  )